#header{
    background-image: url(assets/cabin-g2c1294809_1920.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100vh;
    width: 99vw;
    padding: 0px;
}

.container-fluid{
    background: transparent;
}

.flexStuff{
    display: flex;
}

#AboutMe{
    padding: 100px; 
    
}

h4{
    text-align:center;
    font-size: 25px;
    position: relative;
    color: blanchedalmond;
}

h1{
    text-align: center;
    padding-top: 390px;
    font-size: 50px;
    position: relative;
    color:blanchedalmond;
    
}

body{
    background-color: rgb(90, 87, 87);

}

#bio{
    float: left;
    font-size: 25px;
}



h2{
    text-align: center;
}

#Projects{
padding-top: 50px;
padding-left: 60px;
align-content: center;
}
#contact{
    margin-top: 15vh;
}

footer{
    padding-top: 100px;
}

h3{
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
}
#nav{
    opacity: 1;
}